parameters:
	ignoreErrors:
		-
			message: "#^Variable \\$matches in PHPDoc tag @var does not exist\\.$#"
			count: 1
			path: ../src/Frame.php

		-
			message: "#^Parameter \\#1 \\$frame of class Narrowspark\\\\ExceptionInspector\\\\Frame constructor expects array\\('file' \\=\\> string, 'line' \\=\\> int, 'class' \\=\\> string, \\?'args' \\=\\> array\\('array\\-key' \\=\\> mixed\\), \\?'function' \\=\\> string\\), array given\\.$#"
			count: 1
			path: ../src/FrameCollection.php

		-
			message: "#^Method Narrowspark\\\\ExceptionInspector\\\\FrameCollection\\:\\:getIterator\\(\\) return type with generic class ArrayIterator does not specify its types\\: TKey, TValue$#"
			count: 1
			path: ../src/FrameCollection.php

		-
			message: "#^Parameter \\#1 \\$frames of class Narrowspark\\\\ExceptionInspector\\\\FrameCollection constructor expects array\\<int, array\\<string, array\\<string, mixed\\>\\|int\\|string\\>\\>, array given\\.$#"
			count: 1
			path: ../src/Inspector.php

		-
			message: "#^Should not use function \"debug_backtrace\", please change the code\\.$#"
			count: 1
			path: ../src/Inspector.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Narrowspark\\\\\\\\ExceptionInspector\\\\\\\\Frame' and Narrowspark\\\\ExceptionInspector\\\\Frame will always evaluate to true\\.$#"
			count: 1
			path: ../tests/Unit/FrameCollectionTest.php

		-
			message: "#^Expression \"\\$collection\\[100\\]\" on a separate line does not do anything\\.$#"
			count: 1
			path: ../tests/Unit/FrameCollectionTest.php

		-
			message: "#^Parameter \\#1 \\$callable of method Narrowspark\\\\ExceptionInspector\\\\FrameCollection\\:\\:map\\(\\) expects callable\\(Narrowspark\\\\ExceptionInspector\\\\Frame\\)\\: Narrowspark\\\\ExceptionInspector\\\\Frame, Closure\\(\\)\\: string given\\.$#"
			count: 1
			path: ../tests/Unit/FrameCollectionTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertNotSame\\(\\) with 'foobar'\\|Narrowspark\\\\ExceptionInspector\\\\Frame and array\\<Narrowspark\\\\ExceptionInspector\\\\Frame\\> will always evaluate to true\\.$#"
			count: 1
			path: ../tests/Unit/FrameCollectionTest.php

		-
			message: "#^Parameter \\#1 \\$frame of class Narrowspark\\\\ExceptionInspector\\\\Frame constructor expects array\\('file' \\=\\> string, 'line' \\=\\> int, 'class' \\=\\> string, \\?'args' \\=\\> array\\('array\\-key' \\=\\> mixed\\), \\?'function' \\=\\> string\\), array\\('file' \\=\\> 'foo', 'line' \\=\\> 1, 'function' \\=\\> 'test\\-1', 'class' \\=\\> 'MyClass', 'args' \\=\\> array\\(true, 'hello'\\)\\) given\\.$#"
			count: 1
			path: ../tests/Unit/FrameCollectionTest.php

		-
			message: "#^Parameter \\#1 \\$frame of class Narrowspark\\\\ExceptionInspector\\\\Frame constructor expects array\\('file' \\=\\> string, 'line' \\=\\> int, 'class' \\=\\> string, \\?'args' \\=\\> array\\('array\\-key' \\=\\> mixed\\), \\?'function' \\=\\> string\\), array\\('file' \\=\\> string, 'line' \\=\\> 1, 'function' \\=\\> 'test\\-1', 'class' \\=\\> 'MyClass', 'args' \\=\\> array\\(true, 'hello'\\)\\) given\\.$#"
			count: 1
			path: ../tests/Unit/FrameCollectionTest.php

		-
			message: "#^You should use assertCount\\(\\$expectedCount, \\$variable\\) instead of assertSame\\(\\$expectedCount, \\$variable\\-\\>count\\(\\)\\)\\.$#"
			count: 1
			path: ../tests/Unit/FrameCollectionTest.php

		-
			message: "#^Method Narrowspark\\\\ExceptionInspector\\\\Tests\\\\Unit\\\\FrameCollectionTest\\:\\:getFrameDataList\\(\\) should return array\\<int, array\\<string, array\\<string, mixed\\>\\|int\\|string\\>\\> but returns array\\<int, array\\>\\.$#"
			count: 1
			path: ../tests/Unit/FrameCollectionTest.php

		-
			message: "#^Method Narrowspark\\\\ExceptionInspector\\\\Tests\\\\Unit\\\\FrameCollectionTest\\:\\:getFrameData\\(\\) never returns array\\<string, array\\<string, mixed\\>\\|int\\|string\\> so it can be removed from the return typehint\\.$#"
			count: 2
			path: ../tests/Unit/FrameCollectionTest.php

		-
			message: "#^Method Narrowspark\\\\ExceptionInspector\\\\Tests\\\\Unit\\\\FrameCollectionTest\\:\\:getFrameData\\(\\) should return array\\('args' \\=\\> array\\('array\\-key' \\=\\> mixed\\), 'class' \\=\\> string, 'file' \\=\\> string, 'line' \\=\\> int, \\?'function' \\=\\> string\\) but returns array\\('file' \\=\\> string, 'line' \\=\\> int, 'function' \\=\\> string, 'class' \\=\\> 'MyClass', 'args' \\=\\> array\\(true, 'hello'\\)\\)\\.$#"
			count: 1
			path: ../tests/Unit/FrameCollectionTest.php

		-
			message: "#^Parameter \\#1 \\$frames of class Narrowspark\\\\ExceptionInspector\\\\FrameCollection constructor expects array\\<int, array\\<string, array\\<string, mixed\\>\\|int\\|string\\>\\>, array\\<int, array\\> given\\.$#"
			count: 1
			path: ../tests/Unit/FrameCollectionTest.php

		-
			message: "#^Parameter \\#1 \\$frame of class Narrowspark\\\\ExceptionInspector\\\\Frame constructor expects array\\('file' \\=\\> string, 'line' \\=\\> int, 'class' \\=\\> string, \\?'args' \\=\\> array\\('array\\-key' \\=\\> mixed\\), \\?'function' \\=\\> string\\), array\\<string, array\\|int\\|string\\> given\\.$#"
			count: 1
			path: ../tests/Unit/FrameTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Narrowspark\\\\\\\\ExceptionInspector\\\\\\\\FrameCollection' and iterable\\<Narrowspark\\\\ExceptionInspector\\\\Frame\\>&Narrowspark\\\\ExceptionInspector\\\\FrameCollection will always evaluate to true\\.$#"
			count: 1
			path: ../tests/Unit/InspectorTest.php

